.site-main-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-pure);
}

.admin-menu-div {
    width: var(--admin-menu-width);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .admin-menu-div li {
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.admin-main-div {
    min-height: 100vh;
    width: calc(100% - var(--admin-menu-width));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-light);
}

@media screen and (max-width: 1200px) {
    .admin-menu-div {
        width: 80px;
        padding: 5px;
    }

        .admin-menu-div span {
            display: none;
        }

        .admin-menu-div a {
            width: auto;
        }

    .admin-main-div {
        width: calc(100% - 80px);
    }
}
