.light-button {
    width: var(--button-width);
    margin: 0px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: var(--black-soft);
    background-color: var(--gray-soft);
    border: 2px solid var(--gray-soft);
    font-family: "Open Sans", sans-serif;
}

    .light-button:hover {
        color: var(--black-pure);
        background-color: var(--white-pure);
        border: 2px solid var(--white-pure);
    }

.dark-button {
    width: var(--button-width);
    margin: 0px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: var(--black-soft);
    color: var(--gray-light);
    font-family: "Open Sans", sans-serif;
}

    .dark-button:hover {
        background-color: var(--black-pure);
    }

.transparent-button {
    width: var(--button-width);
    margin: 0px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    color: var(--gray-light);
    border: 2px solid var(--gray-medium);
    font-family: "Open Sans", sans-serif;
}

    .transparent-button:hover {
        color: var(--white-pure);
        background-color: var(--gray-medium);
    }

.cta-button {
    margin: 0px;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    color: var(--gray-light);
    border: 2px solid var(--gray-medium);
    font-family: "Open Sans", sans-serif;
}

    .cta-button:hover {
        color: var(--white-pure);
        background-color: var(--gray-medium);
    }

.asp-link-button {
    margin: 5px;
    color: var(--black-soft);
    transition: transform 0.5s ease;
}

    .asp-link-button:hover {
        color: var(--black-pure);
        transform: scale(1.3);
    }

.invisible-link {
    margin: 0px;
    padding: 0px;
    color: var(--gray-light);
    display: inline-flex; /* El link toma el tamaño de su contenido. */
}

    .invisible-link:hover {
        color: var(--gray-soft);
    }

.big-hover {
    transition: transform 0.5s ease;
}

    .big-hover:hover {
        transform: scale(1.1);
    }
