.container-div {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--white-pure);
    color: var(--black-soft);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.square-border {
    border: 2px solid var(--gray-medium);
    border-radius: 5px;
    aspect-ratio: 1/1;
}

.circle-border {
    border: 2px solid var(--gray-medium);
    border-radius: 50%;
    aspect-ratio: 1/1;
}