.input-box {
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border: 2px solid var(--gray-medium);
}

.input-checkbox {
    padding: 10px;
    transform: scale(1.3);
    transform-origin: center;
    accent-color: var(--black-soft);
}
