.header-div {
    position: fixed;
    width: 100%;
    height: var(--site-menu-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(51, 51, 51, 0.8);
}

.header-nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .header-nav span {
        display: none;
    }

    .header-nav .width-200-px {
        width: auto;
    }
}
