.header-nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .header-nav span {
        display: none;
    }

    .header-nav .width-200-px {
        width: auto;
    }
}
