<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="images_path" value="C:\Meeni ERP\Images\"/>
		<add key="csv_path" value="C:\Meeni ERP\CSV\"/>
		<add key="individual_columns" value="ActiveStatus bit, IsPerson bit, FirstName varchar(30), LastName varchar(30), BusinessName varchar(30), BusinessDescription varchar(30), ImageUrl varchar(300), Email varchar(30)"/>
		<add key="individual_phone" value="PhoneCountry int, PhoneArea int, PhoneNumber int"/>
		<add key="individual_adress" value="AdressCountry varchar(30), AdressProvince varchar(30), AdressCity varchar(30), AdressZipCode varchar(30), AdressStreet varchar(30), AdressStreetNumber int, AdressFlat varchar(30)"/>
		<add key="individual_legal_id" value="LegalIdXX varchar(30), LegalIdDNI int, LegalIdY varchar(30)"/>
		<add key="business_partner_columns" value="PaymentMethod varchar(30), InvoiceCategory varchar(30)"/>
		<add key="supplier_columns" value="IsIndispensable bit"/>
	</appSettings>
	<connectionStrings>
		<add name="bangho" connectionString="Data source=BANGHO\SQLEXPRESS; Initial Catalog=meeni_erp_db; Integrated Security=true" providerName="System.Data.SqlClient"/>
		<add name="mac" connectionString="Data Source=192.168.0.221,1433; Initial Catalog=meeni_erp_db; User ID=SA; Password=Password1234; Connect Timeout=30;"/>
	</connectionStrings>
</configuration>